@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-1.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
body {
  font-family: "League Spartan", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

.header {
  display: grid;
  position: relative;
}
.header .header__top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: start;
  padding: 1.5rem;
  z-index: 10;
}
@media (min-width: 45rem) {
  .header .header__top {
    flex-direction: row;
    justify-content: flex-start;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}
.header .logo__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 45rem) {
  .header .logo__container {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header .nav .nav__list {
  list-style: none;
  display: none;
}
@media (min-width: 45rem) {
  .header .nav .nav__list {
    display: flex;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    color: hsl(0, 100%, 100%);
  }
  .header .nav .nav__list .nav__close__icon {
    display: none;
  }
}
.header .nav .nav__list--show {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  background-color: hsl(0, 100%, 100%);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 2rem;
  padding-inline: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
.header .nav .nav__link {
  font-weight: 600;
  position: relative;
}
.header .nav .nav__link:hover:after {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 2rem;
  display: block;
  height: 0.2rem;
  background-color: hsl(0, 100%, 100%);
  bottom: -5px;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media (min-width: 45rem) {
  .header .nav__menu__icon {
    display: none;
  }
}
.header .hero {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}
.header .hero .hero__img__container source,
.header .hero img {
  height: 100%;
  width: 100%;
  margin-top: -4rem;
  z-index: 0;
}
@media (min-width: 45rem) {
  .header .hero .hero__img__container source,
  .header .hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    margin-top: 0;
  }
}
.header .hero .hero__content {
  padding-inline: 2rem;
  padding-bottom: 4rem;
}
.header .hero .hero__content .hero__title {
  font-size: 2.2rem;
}
.header .hero .hero__content .hero__description {
  color: hsl(0, 0%, 63%);
}
@media (min-width: 45rem) {
  .header .hero .hero__content {
    padding-block: 3rem;
  }
}
.header .hero .hero__button {
  letter-spacing: 0.75rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  margin-top: 1.25rem;
  color: hsl(0, 0%, 27%);
}
@media (min-width: 45rem) {
  .header .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.about__section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 45rem) {
  .about__section {
    grid-template-columns: repeat(3, 1fr);
  }
}
.about__section .about__content {
  display: grid;
  padding: 1.5rem 1.5rem;
  row-gap: 0.75rem;
}
@media (min-width: 45rem) {
  .about__section .about__content {
    width: 40vw;
  }
}
.about__section .about__title {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.about__section .about__description {
  color: hsl(0, 0%, 27%);
}
.about__section .about__image {
  width: 100%;
}
@media (min-width: 45rem) {
  .about__section .about__image {
    width: 30vw;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}/*# sourceMappingURL=style.css.map */