//  Variables
// colors:
$White: hsl(0, 100%, 100%);
$Grey-500: hsl(0, 0%, 63%);
$Grey-800: hsl(0, 0%, 27%);
$Black: hsl(0, 0%, 0%);

// typography
$Font-size: 1rem; // (paragraphs)
$Font-family: 'League Spartan', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

body {
    font-family: $Font-family;
}

// About section
.about__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @media (min-width: 45rem) {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__content {
        display: grid;
        padding: 1.5rem 1.5rem;
        row-gap: 0.75rem;

        @media (min-width: 45rem) {
            width: 40vw;
        }
    }

    .about__title {
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }

    .about__description {
        color: $Grey-800;
    }

    .about__image {
        width: 100%;

        @media (min-width: 45rem) {
            width: 30vw;
            height: 100%;
            object-fit: fill;
        }
    }
}