//  Variables
// colors:
$White: hsl(0, 100%, 100%);
$Grey-500: hsl(0, 0%, 63%);
$Grey-800: hsl(0, 0%, 27%);
$Black: hsl(0, 0%, 0%);

// typography
$Font-size: 1rem; // (paragraphs)
$Font-family: 'League Spartan', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

// layout
$media-query: 45rem;

// animatons
@keyframes slide-bottom {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-1.5rem)
    }

    100% {
        transform: translateX(0rem)
    }
}

body {
    font-family: $Font-family;
}

// header
.header {
    display: grid;
    position: relative;

    .header__top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: start;
        padding: 1.5rem;
        z-index: 10;

        @media (min-width: $media-query) {
            flex-direction: row;
            justify-content: flex-start;
            column-gap: 1.5rem;
        }
    }

    .logo__container {
        width: 100%;
        display: flex;
        justify-content: center;

        @media (min-width: $media-query) {
            width: fit-content;
        }
    }

    .nav {
        .nav__list {
            list-style: none;
            display: none;

            @media (min-width: $media-query) {
                display: flex;
                column-gap: 2rem;
                color: $White;


                .nav__close__icon {
                    display: none;
                }
            }
        }

        .nav__list--show {
            animation: slide-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
            display: flex;
            background-color: $White;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-block: 2rem;
            padding-inline: 1.5rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        .nav__link {
            font-weight: 600;
            position: relative;

            &:hover:after {
                content: '';
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                width: 2rem;
                display: block;
                height: 0.2rem;
                background-color: $White;
                bottom: -5px;

                animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) both;
            }
        }
    }

    .nav__menu__icon {
        @media (min-width: $media-query) {
            display: none;
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;

        .hero__img__container {
            position: relative;
            margin-top: -5rem;

            .hero__nav__container {
                position: absolute;
                display: flex;
                gap: .04rem;
                bottom: 0;
                right: 0;

                .hero__nav__btn {
                    background-color: black;
                    padding: 1.5rem 1.75rem;
                    transition: background-color .5s ease-in;

                    &:hover{
                        background-color: $Grey-800;
                    }
                }
            }

        }

        .hero__img__container source,
        img {
            height: 100%;
            width: 100%;
            z-index: 0;

            @media (min-width:$media-query) {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 0;
            }
        }

        .hero__content {
            padding-inline: 2rem;
            padding-block-start: 2rem;
            padding-block-end: 5rem;

            .hero__title {
                font-size: 2.2rem;
            }

            .hero__description {
                color: $Grey-500;
            }

            @media (min-width:$media-query) {
            }
        }

        .hero__button {
            letter-spacing: .75rem;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 500;
            margin-top: 1.25rem;
            color: $Grey-800;
            transition: gap .5s ease;

            &:hover {
                gap: 2rem;
                color: $Grey-500;
            }
        }

        @media (min-width:$media-query) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

// About section
.about__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @media (min-width: $media-query) {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__content {
        display: grid;
        padding: 1.5rem 1.5rem;
        row-gap: 0.75rem;

        @media (min-width: $media-query) {
            width: 40vw;
        }
    }

    .about__title {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }

    .about__description {
        color: $Grey-500;
    }

    .about__image {
        width: 100%;

        @media (min-width: $media-query) {
            width: 30vw;
            height: 100%;
            object-fit: fill;
        }
    }
}