//  Variables
// colors:
$White: hsl(0, 100%, 100%);
$Grey-500: hsl(0, 0%, 63%);
$Grey-800: hsl(0, 0%, 27%);
$Black: hsl(0, 0%, 0%);

// typography
$Font-size: 16px; // (paragraphs)
$Font-family: 'League Spartan', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;